@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

/*configuracion del body como Displey Grid*/
body {
    background-color: #FFE7CE;
    height: 100vh;
    display: grid;
    grid-template-areas:
        'nav'
        'main'
        'footer'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
}

/*configuracion de los elementos GRID*/
/*configuracion o menu*/
nav {
    background-color: #FF6363;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}
nav>ul{
    display: none;
}
nav>h1 {
    justify-self: left;
    flex-grow: 1;
    padding: 0 1rem;
}

nav>i {
    font-size: 2rem;
}

nav>img {
    object-fit: cover;
    height: 49px;
    border-radius: 50%;
}

/*fin nav configuracion nav o menu*/
/*configuracion main o galeria*/
main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.card{
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card>div{
    position: absolute;
    backface-visibility: hidden;
    width: 320px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.card>.front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #FFFDA2;
    border-radius:  2rem 0.5rem ;
    transform: rotateY(0deg);
}
.card>.back{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    background-color: #FFFDA2;
    border-radius:  2rem 0.5rem ;
    transform: rotateY(180deg);
}
.card>.front>img{
    width: 300px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius:  2rem 0.5rem ;
    justify-self: self-start;
}

/*fin configuracion main o galeria*/
/*configuracion footer*/
footer {
    background-color: #FFAB76;
    grid-area: footer;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer>h3 {
    font-size: 0.8rem;
}

footer>div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
footer>div>a{
    text-decoration: none;
}
footer>div>a>i {
    font-size: 0.8rem;
    color: #000;
}

/*fin configuracion footer*/
/*Media queries tablet*/
@media (min-width: 576px) {
    body {
        grid-template-columns: 1fr 200px;
        grid-template-rows: 1fr 50px 50px;
        grid-template-areas:
            'main nav'
            'main nav'
            'footer footer'
        ;
    }
    main{
        overflow-y: scroll;
    }
    nav{
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        padding-top: 2rem;
        gap: 10px;
    }
    nav>img{
        height: 190px;
    }
    nav>h1{
        flex-grow: 0;
    }
    nav>.fa-solid{
        display: none;
    }
    nav>ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 5px;
    }
    nav>ul>li>a{
        text-decoration: none;
        color: #000;
        font-weight:bold;
        transition: 0.3s;
    }
}

/*fin Media queries tablet*/
/*Media queries desktop*/
@media (min-width: 992px) {
    body {
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr 50px 50px;
        grid-template-areas:
            'nav main'
            'nav main'
            'footer main'
        ;
    }
}

/*fin Media queries desktop*/
/*inicio animaciones*/
.card:hover>.front{
    transform: rotateY(180deg);
}
.card:hover>.back{
    transform: rotateY(360deg);
}
nav>ul>li>a:hover{
    opacity: 50%;
}
/*fin  animaciones*/